.drivers-page {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 30pt;
  background-image: url('../../images/checkeredflag.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h3 {
  background-color: rgba(0, 0, 0, 0.799);
  margin: 0;
  padding: 3% 0;
  text-align: center;
  text-shadow: 3px 3px 0px #e00400;
  color: white;
  border: 2px solid black;
}

.full-rankings {
  border: 3px solid black;
  width: 35%;
  height: 640px;
  overflow-y: scroll;
  margin: 2% 5%;
}

.ranked-driver {
  height: 50px;
  font-size: 20pt;
  font-weight: 100;
  cursor: pointer;
  border: 2px black solid;
  margin: 0;
  padding: 2%;
  background-color: rgba(54, 54, 54, 0.59);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chosen-driver {
  background-color: rgba(0, 0, 0, 0.624);
}

.driver-arrow {
  font-size: 30pt;
}

.selected-driver {
  height: 500px;
  width: 50%;
  margin: 2.5% 0;
  background-color: rgba(54, 54, 54, 0.59);
  position: relative;
  box-shadow: 0 0 150px rgb(53, 53, 53) inset;
  display: flex;
  justify-content: flex-end;
}

.driver-info {
  margin: 3% 5%;
  position: absolute;
  z-index: 1;
  text-shadow: 5px 5px 5px black;
  color: white;
}

.selected-driver-img {
  opacity: 50%;
}

.points {
  font-family: Helvetica, sans-serif;
  font-size: 15pt;
}