.drivers-page {
  width: 100%;
  display: flex;
  font-size: 30pt;
  background-image: url('../../images/checkeredflag.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2% 0 0 0;
}

h3 {
  background-color: rgba(0, 0, 0, 0.799);
  margin: 0;
  padding: 3% 0;
  text-align: center;
  text-shadow: 3px 3px 0px #e00400;
  color: white;
  border: 2px solid black;
}

.full-rankings {
  border: 3px solid black;
  width: 40%;
  height: 640px;
  overflow-y: scroll;
  margin: 2% 5%;
}

.ranked-driver {
  height: 50px;
  font-size: 20pt;
  font-weight: 100;
  cursor: pointer;
  border: 2px black solid;
  margin: 0;
  padding: 2%;
  background-color: rgba(54, 54, 54, 0.59);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chosen-driver {
  background-color: rgba(0, 0, 0, 0.624);
}

.driver-arrow {
  font-size: 30pt;
}

.points {
  font-family: Helvetica, sans-serif;
  font-size: 15pt;
}

@media screen and (max-height: 600px) {
  .drivers-page {
    background: none;
  }
}

@media screen and (max-width: 950px) {
  .drivers-page {
    flex-direction: column;
    align-items: center;
  }

  .full-rankings {
    height: 300px;
    width: 80%;
    margin-bottom: -2%;
    margin-top: 10%;
  }

  .selected-driver {
    margin-bottom: 5%
  }

  .driver-arrow {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .ranked-driver {
    font-size: 15pt;
  }

  h3 {
    font-size: smaller;
  }

  .no-driver {
    font-size: 18pt;
  }
}

@media screen and (max-width: 400px) {
  .full-rankings {
    font-size: smaller;
  }
}