.team-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
}

.team-header {
  width: 100%;
  padding: 3% 5% 2%;
  margin: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  color: #e10600;
  text-shadow: 2px 2px 2px black;
  font-weight: 900;
  font-size: 18pt;
  border-radius: 5px;
}

.edit {
  text-shadow: none;
  color: black;
}

.drivers {
  padding: 3% 0 1%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.driver-img {
  height: 50%;
  width: 40%;
  box-shadow: 0 10px 5px -5px gray;
  margin: 3%;
}

.team {
  width: 91%;
  margin-bottom: 3%;
  border: black 2px solid;
  border-radius: 10px;
  padding-right: 2%;
}

.race-result {
  border: black 2px solid;
  border-radius: 5px;
  text-align: center;
  height: 70%;
  width: 15%;
  margin: 2%;
  padding: 2% 0;
}

.team-info {
  width: 38%;
  height: 84%;
  margin: .5% 1% 0 0;
}

.team-stats {
  margin-top: 5%;
  font-size: 15pt;
}

.name-input {
  width: 60%;
  height: 30px;
  font-size: 15pt;
}

.name-submit {
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1%;
  font-family: 'Josefin Sans', sans-serif;
}