.team-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
}

.team-header {
  padding: 3% 5% 2%;
  margin: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  color: #e10600;
  text-shadow: 2px 2px 2px black;
  font-weight: 900;
  font-size: 18pt;
  border-radius: 5px;
}

.edit {
  text-shadow: none;
  color: black;
  font-size: 30pt;
}

.edit-mode {
  box-shadow: 5px 5px 10px #2e3840;
}

.drivers {
  padding: 3% 0 1%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.driver-img {
  height: 50%;
  box-shadow: 0 10px 5px -5px gray;
  margin: 3%;
}

.team {
  width: 91%;
  margin-bottom: 3%;
  border: black 2px solid;
  border-radius: 10px;
  padding-right: 2%;
}

.team-info {
  width: 100%;
  height: 84%;
  margin: .5% 1% 0 0;
}

.name-input {
  width: 60%;
  height: 30px;
  font-size: 15pt;
}

.name-submit {
  background: none;
  border: none;
  border-radius: 5px;
  padding: 1% 2%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15pt;
  color: white;
  background-color: #e10600;
}

@media screen and (max-width: 900px) {
  .driver-img {
    width: 200px;
    margin-bottom: 5%;
  }

  .default-driver {
    width: 60%;
    padding: 0 2%;
    font-size: 15pt;
    margin-top: 10%;
  }

  .drivers {
    flex-direction: column;
    align-items: center;
  }

  .driver-info {
    font-size: 24pt;
  }

  .selected-driver {
    height: 400px;
    width: 500px;
    margin: 8% 0 0 0;
  }

  .single {
    font-size: 14pt;
  }

  .team {
    margin-top: 3%;
  }
}

@media screen and (max-width: 600px) {
  .blurb {
    font-size: 15pt;
  }

  .selected-driver {
    height: 300px;
    width: 450px;
    margin: 10% 0 0 0;
  }

  .driver-info {
    font-size: 22pt;
  }

  .single {
    font-size: 12pt;
  }

  h2 {
    font-size: 15pt;
  }

  .team {
    margin-top: 5%;
  }

  .constructor-rankings {
    width: 90%;
  }

  .rank {
    font-size: 10pt;
  }
}

@media screen and (max-width: 450px) {
  .default-driver {
    width: fit-content;
  }

  select, .submit-driver {
    font-size: 8pt;
  }

  .default-driver {
    border: none;
    font-size: 14pt;
  }

  .driver-info {
    font-size: 18pt;
  }

  .blurb {
    font-size: 10pt;
  }

  .selected-driver {
    height: 250px;
    width: 250px;
  }

  .selected-driver-img {
    height: 200px;
  }

  .single {
    font-size: 10pt;
  }

  .rank {
    font-size: 8pt;
  }

  .get-results {
    width: 70%;
    font-size: 10pt;
  }
}