body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
}

main {
  margin-top: 115px;
  height: 1000px;
}

button {
  background: none;
  border: none;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
}