html {
  height: 100%;
}

body {  
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
}

main {
  margin-top: 80px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pointer-event {
  pointer-events: none;
}

.material-symbols-outlined {
  cursor: pointer;
}

.error {
  color: #e00400;
  text-shadow: 1px 1px 0px black;
  font-size: 25pt;
  text-align: center;
  margin: 10%;
}