.race-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 25px;
  padding: 5%;
  overflow: hidden;
}

.formula-fun {
  font-size: 40pt;
  margin: 0;
}

.see-team {
  color: black;
  font-size: 30pt;
  text-shadow: 2px 2px 0px red;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1%;
  margin: 2% 0 5%;
}

.see-team:hover {
  background-color: black;
  color: white;
}

.racetrack {
  width: 100%;
  display: flex;
}

.racecar {
  margin-left: -800px;
  height: 100px;
  margin: none;
  animation: slide 6s linear infinite;
}

@keyframes slide {
  100% {
    transform: translate(2200px);
  }
}

@media screen and (max-width: 900px) {
  .formula-fun {
    font-size: 30pt;
  }

  .race-page {
    font-size: 18pt;
  }

  .motto {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .formula-fun {
    font-size: 22pt;
    margin-top: 10%;
  }

  .race-page {
    font-size: 15pt;
  }

  .see-team {
    font-size: 18pt;
  }
}

@media screen and (max-width: 450px) {
  .nav-link {
    font-size: 9pt;
  }

  .header-img {
    width: 100%;
  }
}