.race-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding: 5%;
  overflow: hidden;
}

.formula-fun {
  font-size: 50pt;
}

.see-team {
  color: black;
  font-size: 30pt;
  text-shadow: 2px 2px 0px red;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1%;
  margin: 2% 0 3%;
}

.see-team:hover {
  background-color: black;
  color: white;
}

.racetrack {
  width: 100%;
  display: flex;
}

.racecar {
  margin-left: -500px;
  height: 100px;
  margin: none;
  animation: slide 6s linear infinite;
}

@keyframes slide {
  100% {
    transform: translate(2000px);
  }
}