.selected-driver {
  height: 400px;
  width: 50%;
  margin: 2% 0;
  background-color: rgba(54, 54, 54, 0.59);
  position: relative;
  box-shadow: 0 0 150px rgb(53, 53, 53) inset;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.driver-info {
  height: 90%;
  width: 90%;
  margin: 3% 5%;
  position: absolute;
  z-index: 1;
  text-shadow: 5px 5px 5px black;
  color: white;
}

.no-driver {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 45pt;
  text-shadow: 2px 2px 0px #e00400;
}

.blurb {
  text-shadow: 2px 2px 2px black;
  font-size: 20pt;
}

.selected-driver-img {
  height: 300px;
}

.number {
  color: #e00400
}

.single {
  font-size: 18pt;
  text-shadow: none;
  margin-bottom: 1%;
}